{
  "extends": ["airbnb", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "react/display-name": 1,
    "react/jsx-uses-vars": 2,
    "react/prop-types": "warn",
    "react/destructuring-assignment": 1,
    "react/sort-comp": "warn",
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-boolean-value": "warn",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "warn",
    "react/prefer-stateless-function": "off",
    "react/state-in-constructor": 0,
    "react/no-unescaped-entities": 0,
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "space-infix-ops": "warn",
    "no-return-assign": "warn",
    "arrow-parens": "off",
    "import/prefer-default-export": "off",
    "arrow-body-style": "warn",
    "semi": "warn",
    "no-mixed-operators": "warn",
    "linebreak-style": 0,
    "no-plusplus": "warn",
    "comma-dangle": "warn",
    "camelcase": "off",
    "object-curly-spacing": "warn",
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "error",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "max-len": ["warn", { "code": 180 }],
    "no-confusing-arrow": "off",
    "no-use-before-define": "off",
    "operator-linebreak": 0,
    "implicit-arrow-linebreak": 0,
    "indent": 0,
    "object-curly-newline": 0,
    "consistent-return": 0
  },
  "env": {
    "browser": true
  }
}
